*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 80px;
    background-color: lightpink;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.logo{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 20px;
}
header nav{
    position: absolute;
    top: 80px;
    right: 0%;
    width: 0%;
    height: 100%;
    background-color: red;
}
.mostrar{
    width: 100%;
}
.menu-toggle{
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    margin-right: 20px;
}